
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p align="justify"> <%= startingContent %> </p>


  <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>
    <br><br>

    <% }) %>

    <p><a href="/compose" class="btn btn-outline-primary" ><img class="icon-img" src="/img/cart-plus-solid.svg" > Add new post</a></p>


<%- include("partials/footer"); -%>
